p {
    color: rgb(11, 77, 64);
}

nav {
    display: flex;
    background-color: rgb(183, 216, 221);
    border-radius: 100px;
    box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
    width: 75rem;
    padding-top: 10px;
    justify-content: center;
    justify-self: center;
}

.section {
    display: grid;
    /* background-color: aqua; */
    grid-template-columns: 65% 35%;
}

body {
}

#pic {
    /* justify-content: center;    background-color: orange; */
}

#pic img {
    display: flex;
    margin-top: 2rem;
    justify-self: center;
    width: 20rem;
    border-radius: 20px;
    border: solid 3px rgb(195, 222, 227);
}

html {
  font-size: 1rem;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        font-size: 1.2rem;
        color: pink;

    }
    #pic { }
    #blurb {
        width: 25rem;
        height: 40rem;
    }
    
}

@media screen and (min-width: 200px) and (max-width: 900px) {
    body {
        font-size: 1rem;
        color: yellow;

    }
    #pic { visibility: hidden; }
    #blurb {
        height: 32rem;
        width: 30rem;
    }
    
}

@media (min-width: 1200px) {
    body {
        font-size: 1.2rem;
        color: green;
    }
    #pic { }
    #blurb { 
    width: 100%;
    height: 40rem;
    background-color: rgb(195, 222, 227);
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 2rem;
}
}

.fauxCode {
    font-family: monospace;
    color: rgb(0, 60, 242);
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
}

h1 { margin: 20px 0 0; color: rgb(83, 83, 176); text-shadow: 1px 1px 1px rgb(0, 0, 0);}

h4 { color: rgb(91, 91, 116) }


:root {
  --bs-font-sans-serif: 'Ubuntu';
}

body {
    background-color: rgb(109, 146, 125);
    font-family: 'Ubuntu';
    padding: 50px;
}

body {
    background-color: rgb(151, 182, 194);
}

/* li {
    background-color: lightgreen;
    display: grid;
    justify-content: center;
    padding: 20px;
}

li h4 {
    color: red;
    padding: 20px;
    text-align: center;
} */
