/*   Elements */
#root h2, #root h3 {
  font-weight: 300;
  text-align: center;
  color: rgb(163, 88, 88);
  font-size: 40px;
  line-height: 1.2;
  padding-top: 5%;
  padding-bottom: 5%;
}
p {
  font-size: 1.2rem;
}
nav a:hover, #root nav button:hover {
  background-color: #e2dbda;
}
nav a, #root nav button {
  border-radius: 10px;
  cursor: pointer;
}

/* ID'd elements - text */
#blurb-line {
  font-weight: bold;
}
#project-blurb {
  padding-bottom: 2%;
  padding: 20px;
  margin-top: -10px;
  text-align: center;
  width: 30rem;
  justify-self: center;
  margin-bottom: 9%;
  border-radius: 10px;
}
#learn-blurb {
  margin-top: 7%;
}

/* Images */
#headshot {
  height: 350px;
  grid-column: auto;
}
#cpp-logo {
  width: 55px;
  height: 60px;
}
#git-logo {
  height: 60px;
}
#mern-pic {
  width: 250px;
}
#ard-logo, #spr-logo, #php-logo, #cs-logo {
  width: 90px;
  height: 60px;
}

/* Containers */
#lead-text {
  padding: 3rem;
  background: linear-gradient(90deg, #5c7387 0%, rgb(132, 86, 86) 100%);
  color: rgb(231, 220, 211);
  max-width: auto;
}
#logos {
  display: flex;
  padding-top: 5%;
  justify-content: space-evenly;
}


#root {
  scroll-behavior: smooth;
  scroll-padding-top: 300px;
  display: grid;
  max-width: 100%;
}

/* Classes */
.icon {
  width: 25px;
  height: 25px;
}
#root .container {
  max-width: 100%;
}
#root .nav-item button {
  border: none;
  padding: 0px;
  margin-top: 5px;
  background-color: transparent;
}
.lightMode {
  background-color: white;
  color: rgb(67, 19, 19);
  transition-duration: 0.7s;
  transition-delay: 0.10s;
}
.darkMode {
  color: white;
  background-color: rgb(39, 39, 49);
  transition-duration: 0.7s;
  transition-delay: 0.10s;
}
.iconLarge {
  width: 50px;
  height: 50px;
}
#yt {
  margin-left: 30px
}
.iconLarge:hover {
  background-color: none;
}
#navbar-supported-content {
  max-height: 25rem;
}
.nav-item {
  font-size: 1rem;
}

/* BS Classes */
.navbar {
  background-color: rgb(241, 233, 234);
}
.navbar.active {
  box-shadow:  0 4px 2px -2px rgb(195, 193, 193);
}
.navbar.darkMode {
  background-color: rgb(117, 107, 108);
}

/* Striped table */

#project-blurb.darkMode, #blurb.darkMode {
  background-color: rgb(65, 61, 61);
  
}
#project-blurb.lightMode, #blurb.lightMode {
  background-color: rgb(255, 246, 246);
}

#projects.table.table-striped thead tr th:first-child {
  border-top-left-radius: 10px;
}
#projects.table.table-striped thead tr th:last-child {
  border-top-right-radius: 10px;
}
#projects.table.table-striped tbody tr td:first-child {
  border-bottom-left-radius: 10px;
}
#projects.table.table-striped tbody tr td:last-child {
  border-bottom-right-radius: 10px;
}
#projects.table.table-striped {
  width: 65%;
  box-shadow: 0px 2px 20px rgb(87, 86, 86);
  justify-content: center;
  border-radius: 10px;
}
#projects.table.table-striped tr td, #projects.table.table-striped tr th {
  justify-content: center;
  align-content: center;
  font-size: 15px;
  padding: 2rem;
}
#projects.table.table-striped.darkMode tr td, #projects.table.table-striped.darkMode tr th {
  color: rgb(210, 194, 196);
}
#projects.table.table-striped.darkMode tr:nth-child(odd) td {
  background-color: rgb(30, 30, 38);
  transition: background-color 0.7s;
}
#projects.table.table-striped.darkMode tr:nth-child(even) td {
  background-color: rgb(53, 53, 62);
    transition: background-color 0.7s;
}
#projects.table.table-striped.lightMode thead tr th {
  background-color: rgb(241, 233, 234);
  text-align: center;
}
#projects.table.table-striped.darkMode thead tr th {
  background-color: rgb(89, 84, 84);
}
#projects.table tbody tr td  {
  justify-self: center;
}

/* Animations */
/** Thank you to Bassohr for this animation **/
/* https://codepen.io/bassohr/pen/MWxzYBq */

p, h2, h3, hr, img:not(#projects img) {
  animation: text-appear ease-in both;
  animation-timeline: view(); /* applies animation state relative to viewport */
  animation-range: 0vh 30vh; /* set 0% and 100% positions */
}

@prefers-reduced-motion {
  p, h2, h3, hr, table {
    animation: none;
  }
}

@keyframes text-appear {
  from {
    opacity: 0.2;
    translate: 0 2rem;
  }
}


/* Media queries */


/* SMALL - MOBILE */
@media screen and (min-width: 482px) and (max-width: 768px) {
  #projects {
    margin-right: px;
  }
  #root #projects thead tr th {
    font-size: 12px;
    padding: 5px;
  }
   #root #projects tbody tr td {
    padding: 10px;
    font-size: 12px;
  }
  .navbar-toggler {
    display: block;
  }
  #root #logos {
    margin-left: 0px;
  }
  .block {
    padding: 5rem;
    max-width: 30rem;
  }
  .block #blurb {
    padding: 2rem;
  }
  #logos {
    margin-left: 5rem;
  }
  #root .navbar {
   max-width: 5rem; 
   position: fixed;
  }
  #learn-blurb {
  width: auto;
  }
  #projects {
    margin-left: -60px;
  }
  #root #project-blurb {
    padding: 5rem;
    justify-self: center;
    width: auto;
  }
  #logos {
    display: flex;
    justify-content: center;
    width: auto;
  }
  #mern-pic {
    height: 3rem;
    width: 12rem;
  }
  #ard-logo, #spr-logo, #php-logo, #cs-logo, #cpp-logo, #git-logo {
    height: 3rem;
    width: 3rem;
  }
}

/* MEDIUM */
@media screen and (min-width: 769px) and (max-width: 992px) {

#project-blurb {
  justify-self: center;
  width: auto;
}
#root .navbar {
  position: fixed;
  max-width: 5rem;
}
#about-me {
  display: grid;
  justify-self: center;
  grid-template-columns: 20rem 15rem;
  text-align: center;
  align-self: center;
  padding: 2rem;
  gap: 5rem;
}
#headshot {
}
#logos, #learn-blurb {
  margin-left: 20px;
}
#projects.table {
  margin-left: 20px;
}

#blurb {
  grid-column: 1 / 2;
  width: 20rem;
  padding: 20px;
  border-radius: 10px;
} 
}
/* LARGE */
@media screen and (min-width: 993px) and (max-width: 1200px) {
#root #project-blurb {
  justify-self: center;
  width: auto;
}
.navbar-toggler {
  display: hidden;
}
#about-me {
  display: grid;
  grid-template-columns: 30rem 5rem;
  gap: 1rem;
  width: 50rem;
  justify-self: center;
}
#blurb {
  width: 30rem;
  justify-self: center;
  padding: 2rem;
}

#projects {
  margin-left: 120px;
}
}

/* XL */
@media screen and (min-width: 1201px) {
#root {

}
header {
  margin-top: 0px;
}
#about-me {
display: grid;
grid-template-columns: 2fr 1fr;
gap: 10rem;
}
#projects-div {
  display: grid;
}

.block {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-self: center;
}
.block #headshot {
  margin-top: 5rem;
}
#blurb {
  grid-column: 1 / 2;
  width: 40rem; 
  padding: 20px;
  border-radius: 10px;
} 
#projects {
  justify-self: center;
}
#root h3, #root #blurb, #root hr {
  margin-bottom: 30px;
}
#logos {
  margin-bottom: 50px;
}
}